/*
Exclusively for styling the navigation bar
*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary15);
    position: sticky;
    top: 0;
    font-size: 1.5rem;
    ul {
        display: flex;
        width: 80%;
        a {
            color: var(--accent);
            display: block;
            padding: 1.5rem;
        }
    }
    .nav-icon {
        padding: 1rem 2rem;
        font-size: 2rem;
        font-weight: 700;
        a {
            color: var(--accent);
        }
    }
    .nav-login {
        padding: 1rem 3rem;
        a {
            color: var(--accent);
        }
    }
}

@media (max-width: 1000px) {
    nav {
        ul {
            width: unset;
        }
    }
}