/*
Exclusively for styling the navigation bar
*/
nav {
    z-index: 100;
    position: sticky;
    top: 0;
    background-color: var(--element30);
    animation: navbar-lower 1s forwards;
    border-bottom: 1px solid var(--outline);
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        width: 72rem;
        max-width: 90%;
        ul {
            display: flex;
            width: 90%;
            a {
                color: var(--text60);
                display: block;
                padding: 1.5rem;
                transition: all 0.25s;
            }
            .active {
                a{
                    color: var(--text30);
                }
                box-shadow: inset 0px -0.25rem 0px var(--element10);
            }
            li:hover {
                a {
                    color: var(--text30);
                }
            }
        }
        .nav-icon {
            padding: 1rem 2rem 1rem 0rem;
            font-size: 2rem;
            font-weight: 700;
            a {
                color: var(--text10);
            }
        }
        .nav-login {
            padding: 0rem 0rem 0rem 1rem;
            a {
                color: var(--text10);
            }
        }
    }
}

@media (max-width: 1000px) {
    nav {
        .nav-container {
            ul {
                width: unset;
            }
        }
    }
}

/* Navbar Animation */
@keyframes navbar-lower {
    from {
        translate: 0 -100%;
    }
    to {
        translate: 0 0;
    }
}