/* 
Sections are managed here!
My definition of a section:
 - A re-usable self-contained "section" of a website that can be stacked to form a layout

Key concepts to stick to:
 - Use relative units (%, rem)
 - Use colours from colouscheme.css
 - More TBD
*/

/* Section Defaults */
.section {
    color: black;
}
/* Hero */
.hero {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: max(65svh, 20rem);
    h1 {
        font-size: 10rem;
        text-align: center;
    }
    h2 {
        font-size: 2rem;
    }
}
/* Card List */
.card-list {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    header {
        padding: 1rem 1rem 0.2rem 1rem;
    }
    main {
        width: 80%;
        padding: 1.5rem;
        ul {
            display: flex;
            justify-content: space-evenly;
            gap: 1rem;
        }
    }
}
/* Individual Card */
.card {
    background-color: rgb(51, 51, 51);
    border-radius: 1rem;
    padding: 2rem;
    width: 28%;
    h3, p {
        padding: 1rem;
    }
}


/* Media Query */
@media (max-width:1000px) {
    .hero {
        h1 {
            font-size: 5.5rem;
        }
    }
    .card-list {
        ul {
            flex-direction: column;
            align-items: center;
        }
    }
    .card {
        width: 85%;
    }

}