/* 
Sections are managed here!
My definition of a section:
 - A re-usable self-contained "section" of a website that can be stacked to form a layout

Key concepts to stick to:
 - Use relative units (%, rem)
 - Use colours from colouscheme.css
 - More TBD
*/

/* Section Defaults */
.section {
    color: black;
}
/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 25svh;
    h1 {
        font-size: 10rem;
        text-align: center;
    }
    h2 {
        font-size: 2rem;
    }
}