<nav>
    <div class="nav-container">
        <aside class="nav-icon">
            <a href="index">
                RM
            </a>
        </aside>
        <ul>
            <li>
                <a href="index">HOME</a>
            </li>
            <li>
                <a href="about">ABOUT</a>
            </li>
        </ul>
        <aside class="nav-login">
            <a href="login">
                <button class="login">
                    LOGIN
                </button>
            </a>
        </aside>
    </div>
</nav>