<%- include('includes/head', {title: "About"}) %>
<body>
    <!-- Background Animation -->
    <div class="background-anim">
        <div class="dot" id="dot1"></div>
        <div class="dot" id="dot2"></div>
        <div class="dot" id="dot3"></div>
        <div class="blur"></div>
    </div>
    <!-- Navigation Bar -->
    <%- include('includes/nav', {active: "about"}) %>
    <!-- Main Content -->
    <main>
        <section class="hero">
            <div class="hero-container">
                <div class="text-container">
                    <header>
                        <h1>
                            About
                        </h1>
                    </header>
                    <h2>
                        About RefManager and the reasons for its development
                    </h2>
                </div>
            </div>
        </section>
        <section class="card-list">
            <div class="card-list-container">
                <header>
                    <h2>Alternatives?</h2>
                    <h3>What are the pitfalls of other solutions?</h3>
                </header>
                <main>
                    <ul>
                        <li class="card">
                            <h4>
                                Unorganised
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatum explicabo ipsum porro a alias debitis voluptate animi minus dolores hic, maiores id autem laboriosam temporibus nulla deserunt nihil! Modi!
                            </p>
                        </li>
                        <li class="card">
                            <h4>
                                Overcomplicated
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. In odit vero commodi culpa voluptas quia corporis distinctio. Optio, modi repudiandae? Id nemo dignissimos quasi placeat quas vel. Porro, id quaerat.
                            </p>
                        </li>
                        <li class="card">
                            <h4>
                                Unfriendly
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id molestias aut quasi? Perferendis enim cum perspiciatis expedita obcaecati optio laboriosam a, illum quis laborum ratione ducimus autem sint adipisci impedit?
                            </p>
                        </li>
                    </ul>
                </main>
            </div>
        </section>
        <section class="text">
            <div class="text-container">
                <header>
                    <h2>Why?</h2>
                    <h3>Better references = Better artworks</h3>
                </header>
                <main>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum esse, repudiandae eligendi facere tenetur officiis iste quod ea repellat blanditiis? Fuga tempora debitis ipsum consequatur sit molestiae aut labore illo.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi et nostrum aut aperiam nemo. Cumque ipsam accusamus itaque perspiciatis sapiente! A sed, laudantium porro dolore inventore culpa? Officiis, nihil quaerat?</p>
                </main>
            </div>
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>