<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <ul>
        <% for (let i = 0; i < listLength; i++) { %>
            <li> Project <%= i + 1 %> </li>
        <% } %>
    </ul>
</body>
</html>